body {
  background-color: #28283d;
}
img {
  width: 200px;
  border: 1px solid black;
}
.container {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-areas:
    "visual "
    "highlights";
  border: 1px solid silver;
  padding: 1em;
  margin-bottom: 1em;
  background-color: white;
}

.visual {
  grid-area: visual;
}
.highlights {
  grid-area: highlights;
  width: 90%;
}
#portrait {
  width: 1.1rem;
  margin-right: 0.4rem;
  border-radius: 5px;
}
header {
    width:100vw;
  text-align: center;
  color: white;
  background-color: #28283d;
  padding: 10px;
}
h1 {
  letter-spacing: 0.1em;
}
h3 {
  text-align: center;
  margin-top: 2em;
  color: orange;
  letter-spacing: 0.05em;
}
strong {
  letter-spacing: 0.1em;
}
#icons {
  cursor: pointer;
  justify-items: center;
  font-size: 1.5em;
}
a {
  color: white;
  display: inline-block;
  margin-right: 1em;
  margin-left: 1em;
  padding-bottom: 1em;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.2em;
}
a :hover {
  color: aqua;
}
a:visited {
  color: white;
}
.code {
  font-family: monospace;
  background: black;
  color: white;
  padding: 1em 2em;
}
.sites a {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.certificates {
 
  text-align: center;
  
}
#resume {
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 90vw;
  min-height: 500px;
}
@media (min-width: 648px) {
    .container {
      display: grid;
      grid-template-columns: 260px 1fr;
      grid-template-areas: "visual highlights";
    }
    
  }