body {
  background-color: #28283d;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 200px;
  border: 1px solid black;
  
}
.container{
    display:grid;
    width:100vw;
    grid-template-columns: 1fr;   
}
.project {
  display: grid;
  width: 90vw;
  grid-template-columns: 1fr;
  grid-template-areas:
    "visual "
    "highlights";
  border-bottom: 0.5em solid #28283d;
  padding: 3em 1em 1em 1em;
  margin:auto;
  background-color: white;
 
}

.visual {
  grid-area: visual;
 text-align: center;
 margin-bottom: 1em;
}
.highlights {
  grid-area: highlights;
  width: 90%;
  padding-left:2em;
}

header {
  width: 100vw;
  text-align: center;
  color: white;
  background-color: #28283d;
  padding: 10px;
}
h1 {
  letter-spacing: 0.1em;
}
h3 {
  text-align: center;
  margin-top: 2em;
  color: orange;
  letter-spacing: 0.05em;
}
strong {
  letter-spacing: 0.1em;
}
#icons {
  cursor: pointer;
  justify-items: center;
  font-size: 1.5em;
}
a {
  color: white;
  display: inline-block;
  margin-right: 1em;
  margin-left: 1em;
  padding-bottom: 1em;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.2em;
}
a :hover {
  color: aqua;
}
a:visited {
  color: white;
}
.code {
  font-family: monospace;
  background: black;
  color: white;
  padding: 1em 2em;
}
.sites a {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.certificates {
  text-align: center;
}

#resume {
  
  justify-content: center;
  text-align: center;
  width: 100vw;
  height:100vh;
}
@media (min-width: 648px) {
  .project {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-areas: "visual highlights";
  }
  
}
@media(min-width:800px){
    .highlights{
        width:80%;
    }
}
@media(min-width:648){
  .project {
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr;
    grid-template-areas:
      "visual "
      "highlights";
    border-bottom: 0.5em solid #28283d;
    padding: 3em 1em 1em 1em;
    margin:auto;
    background-color: white;
   
  }
}
footer{
  color:white;
  text-align: center;
  font-size: .7rem;
  padding: 0.7em 1em 2.3em 1em;;
}